In [1]:
import sys
sys.path.insert(0, '../utils/')

import pandas as pd
import numpy as np

import util_michael as um
from util import *

In [2]:
train = pd.read_csv('./data/raw_train.csv')
test = pd.read_csv('./data/raw_test.csv')
Ylabel = 'College_Persistence_Rate'

Y = train[Ylabel]
train.drop(columns=[Ylabel], inplace=True)
comb = pd.concat([train, test], ignore_index=True, sort=False)
train.shape, test.shape, comb.shape

((69, 84), (38, 84), (107, 84))

In [3]:
train.describe()

,rowid,unique_id,Area,Blue_Ribbon_Award,Probation_Length,Student_Response_Rate,Teacher_Response_Rate,NWEA_Reading_Growth_Percentile_All_Grades,NWEA_Reading_Growth_Percentile_Grade_3,NWEA_Reading_Growth_Percentile_Grade_Four,...,Percentage_of_Misconducts_Resulting_in_Suspension_2012,Average_Length_of_Suspensions_2013,Average_Length_of_Suspensions_2012,Student_Attendance_Percentage_2013,Student_Attendance_Percentage_2012,Teacher_Attendance_Percentage_2013,Teacher_Attendance_Percentage_2012,Gr3_8_On_Track_Percentage_2013,One_Year_DropOut_Rate_Percentage_2013,One_Year_DropOut_Rate_Percentage_2012
count,69.000000,69.000000,69.000000,2.0,28.000000,69.000000,69.000000,10.000000,1.0,1.0,...,54.000000,55.000000,54.000000,69.000000,69.000000,55.000000,55.000000,6.000000,69.000000,69.000000
mean,35.000000,56.768116,21259.565217,2012.0,10.535714,76.491304,80.579710,44.500000,3.0,12.0,...,49.925926,3.043636,3.568519,86.352174,85.323188,94.661818,95.210909,63.183333,4.749275,7.115942
std,20.062403,31.010029,54.882623,0.0,5.567646,16.351243,17.439472,35.296364,NaN,NaN,...,25.269530,0.873851,0.947454,7.523250,8.565958,1.007470,0.806839,9.308580,6.729536,7.163544
min,1.000000,0.000000,21210.000000,2012.0,1.000000,0.700000,0.000000,0.000000,3.0,12.0,...,4.500000,1.300000,2.000000,65.700000,67.700000,91.900000,93.700000,55.600000,0.000000,0.200000
25%,18.000000,32.000000,21234.000000,2012.0,6.000000,69.200000,71.800000,23.000000,3.0,12.0,...,29.625000,2.600000,2.900000,80.700000,80.100000,94.200000,94.700000,56.350000,1.100000,2.700000
50%,35.000000,57.000000,21248.000000,2012.0,10.000000,79.800000,82.800000,39.500000,3.0,12.0,...,45.550000,2.900000,3.550000,87.300000,87.400000,94.800000,95.200000,60.200000,2.100000,4.500000
75%,52.000000,84.000000,21280.000000,2012.0,18.000000,88.000000,94.900000,62.000000,3.0,12.0,...,66.700000,3.300000,4.275000,91.900000,91.900000,95.400000,95.750000,66.450000,5.200000,9.300000
max,69.000000,106.000000,21654.000000,2012.0,18.000000,98.300000,100.000000,99.000000,3.0,12.0,...,97.800000,6.600000,6.000000,99.300000,99.400000,96.100000,97.000000,79.500000,43.200000,39.300000

In [4]:
train.head()

,rowid,unique_id,Area,School_Year,Blue_Ribbon_Award,CPS_Performance_Policy_Level,CPS_Performance_Policy_Status,Probation_Length,Student_Response_Rate,Teacher_Response_Rate,...,Average_Length_of_Suspensions_2013,Average_Length_of_Suspensions_2012,Student_Attendance_Percentage_2013,Student_Attendance_Percentage_2012,Teacher_Attendance_Percentage_2013,Teacher_Attendance_Percentage_2012,Gr3_8_On_Track_Percentage_2013,One_Year_DropOut_Rate_Percentage_2013,One_Year_DropOut_Rate_Percentage_2012,Overall_Rating
0,1,66,21224,2013 - 2014,NaN,LEVEL 3,ON PROBATION,12.0,85.1,100.0,...,3.4,4.4,75.2,68.8,93.1,93.7,NaN,3.4,24.0,ORGANIZED
1,2,49,21218,2013 - 2014,NaN,LEVEL 2,NOT APPLICABLE,NaN,45.3,71.8,...,NaN,NaN,90.8,91.4,NaN,NaN,NaN,1.9,7.3,PARTIALLY ORGANIZED
2,3,31,21228,2013 - 2014,NaN,LEVEL 1,NOT ON PROBATION,NaN,82.2,48.8,...,3.2,3.3,87.3,86.3,94.8,95.6,NaN,1.9,3.5,ORGANIZED
3,4,95,21242,2013 - 2014,NaN,LEVEL 3,ON PROBATION,18.0,46.7,89.6,...,4.4,5.1,76.0,74.9,92.4,94.5,NaN,0.8,18.6,NOT YET ORGANIZED
4,5,42,21240,2013 - 2014,NaN,LEVEL 3,NOT APPLICABLE,NaN,88.2,85.0,...,NaN,NaN,99.0,92.1,NaN,NaN,NaN,8.8,8.6,PARTIALLY ORGANIZED

In [5]:
train.dtypes[train.dtypes == 'object']

School_Year                       object
CPS_Performance_Policy_Level      object
CPS_Performance_Policy_Status     object
Involved_Family                   object
Supportive_Environment            object
Ambitious_Instruction             object
Effective_Leaders                 object
Collaborative_Teachers            object
Safe                              object
School_Community                  object
Parent_Teacher_Partnership        object
Quality_of_Facilities             object
Healthy_Schools_Certification     object
Creative_Schools_Certification    object
Overall_Rating                    object
dtype: object

In [6]:
train.dtypes[(train.dtypes != 'object')].keys()

Index(['rowid', 'unique_id', 'Area', 'Blue_Ribbon_Award', 'Probation_Length',
       'Student_Response_Rate', 'Teacher_Response_Rate',
       'NWEA_Reading_Growth_Percentile_All_Grades',
       'NWEA_Reading_Growth_Percentile_Grade_3',
       'NWEA_Reading_Growth_Percentile_Grade_Four',
       'NWEA_Reading_Growth_Percentile_Grade_Five',
       'NWEA_Reading_Growth_Percentile_Grade_6',
       'NWEA_Reading_Growth_Percentile_Grade_7',
       'NWEA_Reading_Growth_Percentile_Grade_8', 'NWEA_Math_Growth_All_Grades',
       'NWEA_Math_Growth_Grade_3', 'NWEA_Math_Growth_Grade_Four',
       'NWEA_Math_Growth_Grade_Five', 'NWEA_Math_Growth_Grade_6',
       'NWEA_Math_Growth_Grade_7', 'NWEA_Math_Growth_Grade_8',
       'NWEA_Reading_Attainment_Percentile_All_Grades',
       'NWEA_Reading_Attainment_Percentile_Grade_2',
       'NWEA_Reading_Attainment_Percentile_Grade_3',
       'NWEA_Reading_Attainment_Percentile_Grade_Four',
       'NWEA_Reading_Attainment_Percentile_Grade_Five',
       'NWEA_Reading_Attainment_Percentile_Grade_6',
       'NWEA_Reading_Attainment_Percentile_Grade_7',
       'NWEA_Reading_Attainment_Percentile_Grade_8',
       'NWEA_Math_Attainment_Percentile_All_Grades',
       'NWEA_Math_Attainment_Percentile_Grade_2',
       'NWEA_Math_Attainment_Percentile_Grade_3',
       'NWEA_Math_Attainment_Percentile_Grade_Four',
       'NWEA_Math_Attainment_Percentile_Grade_Five',
       'NWEA_Math_Attainment_Percentile_Grade_6',
       'NWEA_Math_Attainment_Percentile_Grade_7',
       'NWEA_Math_Attainment_Percentile_Grade_8', 'EPAS_Growth_Percentile',
       'EXPLORE_Growth_Percentile_Grade_9', 'Plan_Growth_Percentile_Grade_10',
       'ACT_Growth_Percentile_Grade_11', 'EPAS_Attainment_Percentile',
       'EXPLORE_Attainment_Percentile_Grade_9',
       'PLAN_Attainment_Percentile_Grade_10',
       'Grade_ACT_Attainment_Percentile_Grade_11',
       'EXPLORE_Spring_2013_Average_Grade_9',
       'EXPLORE_Spring_2013_Average_Grade_10',
       'EXPLORE_Fall_2011_Average_Grade_9', 'PLAN_Fall_2012_Average_Grade_10',
       'ACT_Spring_2013_Average_Grade_11',
       'Freshmen_on_Track_Rate_Percentage_2013',
       'Freshmen_on_Track_Rate_Percentage_2012',
       'Four_Year_Graduation_Rate_Percentage_2013',
       'Four_Year_Graduation_Rate_Percentage_2012',
       'Five_Year_Graduation_Rate_Percentage_2013',
       'Five_Year_Graduation_Rate_Percentage_2012', 'Suspensions_Per_100_2013',
       'Suspensions_Per_100_2012',
       'Percentage_of_Misconducts_Resulting_in_Suspension_2013',
       'Percentage_of_Misconducts_Resulting_in_Suspension_2012',
       'Average_Length_of_Suspensions_2013',
       'Average_Length_of_Suspensions_2012',
       'Student_Attendance_Percentage_2013',
       'Student_Attendance_Percentage_2012',
       'Teacher_Attendance_Percentage_2013',
       'Teacher_Attendance_Percentage_2012', 'Gr3_8_On_Track_Percentage_2013',
       'One_Year_DropOut_Rate_Percentage_2013',
       'One_Year_DropOut_Rate_Percentage_2012'],
      dtype='object')

In [7]:
comb['Area'] = comb['Area'].astype(object)

## Drop features with > 0.85  empty

In [8]:
nans = summary_missing_data(comb)
drop = list(nans[ nans['Percent'] > 0.85 ].index)
comb.drop(columns=drop, inplace=True)
comb.shape

(107, 52)

## Fill the others

In [9]:
nans = summary_missing_data(comb)
nans

                                                    Count   Percent
Probation_Length                                       67  0.626168
Freshmen_on_Track_Rate_Percentage_2013                 29  0.271028
Freshmen_on_Track_Rate_Percentage_2012                 27  0.252336
Average_Length_of_Suspensions_2012                     25  0.233645
Percentage_of_Misconducts_Resulting_in_Suspensi...     25  0.233645
Teacher_Attendance_Percentage_2012                     24  0.224299
Teacher_Attendance_Percentage_2013                     24  0.224299
Average_Length_of_Suspensions_2013                     24  0.224299
Percentage_of_Misconducts_Resulting_in_Suspensi...     24  0.224299
Suspensions_Per_100_2012                               23  0.214953
Suspensions_Per_100_2013                               20  0.186916
EXPLORE_Growth_Percentile_Grade_9                      14  0.130841
EXPLORE_Spring_2013_Average_Grade_9                    14  0.130841
EXPLORE_Attainment_Percentile_Grade_9                  14  0.130841
ACT_Growth_Percentile_Grade_11                         13  0.121495
PLAN_Attainment_Percentile_Grade_10                    12  0.112150
EXPLORE_Spring_2013_Average_Grade_10                   12  0.112150
Plan_Growth_Percentile_Grade_10                        12  0.112150
Five_Year_Graduation_Rate_Percentage_2012               5  0.046729
EPAS_Growth_Percentile                                  4  0.037383
Five_Year_Graduation_Rate_Percentage_2013               4  0.037383
Four_Year_Graduation_Rate_Percentage_2013               4  0.037383
EXPLORE_Fall_2011_Average_Grade_9                       3  0.028037
CPS_Performance_Policy_Status                           3  0.028037
Four_Year_Graduation_Rate_Percentage_2012               3  0.028037
CPS_Performance_Policy_Level                            3  0.028037
PLAN_Fall_2012_Average_Grade_10                         1  0.009346

In [10]:
comb[list(nans.index)].dtypes

Probation_Length                                          float64
Freshmen_on_Track_Rate_Percentage_2013                    float64
Freshmen_on_Track_Rate_Percentage_2012                    float64
Average_Length_of_Suspensions_2012                        float64
Percentage_of_Misconducts_Resulting_in_Suspension_2012    float64
Teacher_Attendance_Percentage_2012                        float64
Teacher_Attendance_Percentage_2013                        float64
Average_Length_of_Suspensions_2013                        float64
Percentage_of_Misconducts_Resulting_in_Suspension_2013    float64
Suspensions_Per_100_2012                                  float64
Suspensions_Per_100_2013                                  float64
EXPLORE_Growth_Percentile_Grade_9                         float64
EXPLORE_Spring_2013_Average_Grade_9                       float64
EXPLORE_Attainment_Percentile_Grade_9                     float64
ACT_Growth_Percentile_Grade_11                            float64
PLAN_Attainment_Percentile_Grade_10                       float64
EXPLORE_Spring_2013_Average_Grade_10                      float64
Plan_Growth_Percentile_Grade_10                           float64
Five_Year_Graduation_Rate_Percentage_2012                 float64
EPAS_Growth_Percentile                                    float64
Five_Year_Graduation_Rate_Percentage_2013                 float64
Four_Year_Graduation_Rate_Percentage_2013                 float64
EXPLORE_Fall_2011_Average_Grade_9                         float64
CPS_Performance_Policy_Status                              object
Four_Year_Graduation_Rate_Percentage_2012                 float64
CPS_Performance_Policy_Level                               object
PLAN_Fall_2012_Average_Grade_10                           float64
dtype: object

In [11]:
cat_cols = list(nans[comb[list(nans.index)].dtypes == 'object'].index)
num_cols = list(nans[comb[list(nans.index)].dtypes == 'float64'].index)

In [12]:
# vals_by_area = comb.groupby('Area')[list(nans.index)].mean()
# print(vals_by_area.shape[0], ' Areas and ', vals_by_area.shape[1], 'Missing featues')
# vals_by_area.head()

In [13]:
cat_cols

['CPS_Performance_Policy_Status', 'CPS_Performance_Policy_Level']

In [14]:
for c in num_cols:
    print(c)
    comb[c] = comb.groupby('Area').transform(lambda x: x.fillna(x.mean()))

Probation_Length
Freshmen_on_Track_Rate_Percentage_2013
Freshmen_on_Track_Rate_Percentage_2012
Average_Length_of_Suspensions_2012
Percentage_of_Misconducts_Resulting_in_Suspension_2012
Teacher_Attendance_Percentage_2012
Teacher_Attendance_Percentage_2013
Average_Length_of_Suspensions_2013
Percentage_of_Misconducts_Resulting_in_Suspension_2013
Suspensions_Per_100_2012
Suspensions_Per_100_2013
EXPLORE_Growth_Percentile_Grade_9
EXPLORE_Spring_2013_Average_Grade_9
EXPLORE_Attainment_Percentile_Grade_9
ACT_Growth_Percentile_Grade_11
PLAN_Attainment_Percentile_Grade_10
EXPLORE_Spring_2013_Average_Grade_10
Plan_Growth_Percentile_Grade_10
Five_Year_Graduation_Rate_Percentage_2012
EPAS_Growth_Percentile
Five_Year_Graduation_Rate_Percentage_2013
Four_Year_Graduation_Rate_Percentage_2013
EXPLORE_Fall_2011_Average_Grade_9
Four_Year_Graduation_Rate_Percentage_2012
PLAN_Fall_2012_Average_Grade_10

In [15]:
summary_missing_data(comb)

                               Count   Percent
CPS_Performance_Policy_Level       3  0.028037
CPS_Performance_Policy_Status      3  0.028037

In [16]:
for c in cat_cols:
    print(c)
    comb[c] = comb.groupby('Area').transform(lambda x: x.fillna(x.mode()))

CPS_Performance_Policy_Status
CPS_Performance_Policy_Level

In [17]:
summary_missing_data(comb)

Empty DataFrame
Columns: [Count, Percent]
Index: []

In [18]:
brk = train.shape[0]
break_and_save_df(comb, brk, 'cl', Y, Ylabel)

../utils/util.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  traindata[Ylabel] = Y